@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-body);
  --font-head: var(--font-head);

  --color-navy-50: #EDEFFA;
  --color-navy-600: #2B3990;
  --color-navy-700: #253680;
  --color-navy-900: #1F2A6B;
  --color-navy-950: #151C4D;

  --color-brand-red: #ED1C24;
  --color-brand-red-dark: #C8151B;
}
